md-list {
  width: 600px;
}

.title {
  font-weight: bold;
}

.vote {
  font-weight: bold;
}

.overview {
  color: #777;
}
.box {
  width: 350px;
}


#principal {
    color:#FFC107;

}

#subprincipal {
    color:#551A8B;

}

.total {

}

.panel{
    margin: 10px;
    width: 150px;
    height: 225px;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}