<md-card *ngIf="credits.length > 0">
    <md-toolbar color= "accent">
        <button md-button id="subprincipal" (click)="changeState();">
            <md-icon *ngIf="!active" color="primary">add</md-icon>
            <md-icon *ngIf="active" color="primary">remove</md-icon>
            Cast
        </button>
    </md-toolbar>
    <div [hidden]="!active">
        <md-toolbar color= "primary">
            <button md-button id="principal"  (click)="changeOrder();">
                <md-icon *ngIf="!orderUp" color="accent">arrow_downward</md-icon>
                <md-icon *ngIf="orderUp" color="accent">arrow_upward</md-icon>
                Order
            </button>
            
            <button md-button id="principal" [ngStyle]="{border: '2px solid' + borderColorDate}" (click)="changeParameterDate();">
                <md-icon color="accent">event</md-icon>
                Date
            </button>
            <button md-button id="principal" [ngStyle]="{border: '2px solid' + borderColorAlphabetic}" (click)="changeParameterAlphabetic();">
                <md-icon color="accent">font_download</md-icon>
                Alphabetic
            </button>
            
        </md-toolbar>
        <md-grid-list   cols="5">
            <div *ngFor="let credit of credits">
                <md-grid-tile>
                    <md-grid-tile-header>
                            <a (click)="goMovie(credit.id)" *ngIf="credit.title">
                                 {{credit.title}}
                            </a>
                    </md-grid-tile-header>
                        
                    <a (click)="goMovie(credit.id)" title="{{ credit.title }}" >
                        <img  class="img" *ngIf="credit.poster_path" src="{{getUrl(credit.poster_path)}}">
                        <img  class="img" *ngIf="!credit.poster_path" src="assets/images/posternotavailable.jpg">
                    </a>
                    <md-grid-tile-footer>
                        <div>
                            <md-icon class="icons">account_box</md-icon>
                            <a (click)="goMovie(credit.id)" *ngIf="credit.character">
                                 {{credit.character}}
                            </a>
                            <a (click)="goMovie(credit.id)" *ngIf="!credit.character" class="unavailable">
                                 Unavailable
                            </a>
                        </div>
                        <div style="clear:both; margin:7px" > </div>
                        <div>
                            <md-icon class="icons">visibility</md-icon>
                            <a (click)="goMovie(credit.id)" *ngIf="credit.release_date">
                                 {{credit.release_date.split("-")[0]}}
                            </a>
                            <a (click)="goMovie(credit.id)" *ngIf="!credit.release_date" class="unavailable">
                                 Unavailable
                            </a>
                        </div>
                        
                    </md-grid-tile-footer>
                </md-grid-tile>
            </div>
        
      </md-grid-list>
    </div>
    
 </md-card>