<div>
    <div class="col-md-5">
        <img src="{{view.images}}{{ detail.details.poster_path }}" />
    </div>
    <div class="col-md-7">
        <h1>{{ detail.details.title }}</h1>
        <h3 ng-if="detail.details.tagline">{{ detail.details.tagline }}</h3>
        <br />
        <span ng-if="detail.details.overview">
            {{ detail.details.overview }}
        </span>
        <br />
        <div class="sub-details row table-row" style="margin: 20px;">
            
            <time datemovie="detail.details.release_date" runtime="detail.details.runtime"  />
            
            <div class="col-md-6">
                <div class="detail">
                    Budget ${{ detail.details.budget | number }} USD
                </div>
                <div class="detail">
                    Revenue ${{ detail.details.revenue | number }} USD
                </div>
            </div>
        </div>
        <div>
            <span ng-repeat="genre in detail.details.genres">
                <strong style="border: 1pcx solid #dddddd; margin: 5px; padding: 2px; background-color: #eeeeee;"> {{ genre.name }} </strong>
            </span>
            <br />
            <span ng-if="detail.details.homepage"><a href="{{ detail.details.homepage }}" target=_new>{{ detail.details.homepage }}</a></span>
        </div>
        <div class="col-md-12" ng-if="detail.details.similar.results.length != 0">
            <similar-movies ng-model="detail.details.similar.results" />
        </div>
    </div>
</div>