<app-toolbar></app-toolbar>
<md-card>
    <md-card-content>
       <h1 id="subprincipal"> {{ details.title }} </h1> 
       <h3 *ngIf="details.tagline">{{details.tagline }}</h3>
    </md-card-content>
</md-card>



<div *ngIf="details.videos" align="center">
    <md-card>
        <app-movietrailer [key]="details.videos.results[0].key"></app-movietrailer>
    </md-card>
</div>



<md-card>
    <md-card-title-group>
        <img class="image" src="{{getUrl(details.poster_path)}}">
        
        <md-card-subtitle>
            <md-card>
                <span ng-if="details.overview">
                    {{ details.overview }}
                </span>
            </md-card>

            <md-card>
                <md-card-content>
                    <div class="col-md-6">
                        <div class="detail">
                            Release Date {{ details.release_date | date }}
                        </div>
                        <div class="detail">
                            Running Time {{ details.runtime }} minutes
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                            Budget ${{ details.budget | number }} USD
                        </div>
                        <div class="detail">
                            Revenue ${{ details.revenue | number }} USD
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            
            <md-card>
                <md-card-content>
                    <span *ngFor="let genre of details.genres ">
                        <strong style="border: 1pcx solid #dddddd; margin: 5px; padding: 2px; background-color: #eeeeee;"> {{ genre.name }} </strong>
                    </span>
                </md-card-content>
            </md-card>
            
            <md-card>
                <span ng-if="details.homepage"><a href="{{details.homepage }}" target=_new>{{details.homepage }}</a></span>
            </md-card>
      </md-card-subtitle>
   </md-card-title-group>
</md-card>