<app-toolbar *ngIf="!preview"></app-toolbar>
<md-card>
    <md-card-content>
        <md-toolbar color= "accent">
            <button md-button id="subprincipal" (click)="goLatestMovies();">
                <md-icon class="md-24" color="primary">add</md-icon>
                Latest Movies 
            </button>
        </md-toolbar>
        <md-grid-list cols="5" class="total" flex>
            <md-grid-tile *ngFor="let movie of movies" >
                <a href="#/movie/{{ movie.id }}" title="{{ movie.title }}" ng-if="movie.poster_path">
                    <img class="img" src="{{getUrl(movie.poster_path)}}" layout-fill>
                </a>
                 <md-grid-tile-footer>
                     <a href="#/movie/{{ movie.id }}" *ngIf="movie.title">
                         {{movie.title}}
                     </a>
                 </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>
         </md-card-content>
 </md-card>