@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */

#principal {
    color:#FFC107;
}

#subprincipal {
    color:#673ab7;

}

.img{
    width:100% ;
    
}

.textcenter{
  text-align: center;
}
