<md-input dividerColor="accent" (blur)="changeFocus(false)" (focus)="changeFocus(true)" placeholder="Search for an Actor, Actress, or Movie" value="" [(ngModel)]="search" (ngModelChange)="doSearch($event)">
</md-input>

<div (mouseleave)="changeState(false)" (mouseover)="changeState(true)">
    <div [hidden]="!(results.length> 0 && (active || focus))" class="pull-right" >
        <div *ngFor="let result of results">
            <a *ngIf="result.media_type === 'movie' && result.poster_path" href="#/movie/{{ result.id }}" (click)="saveSearch()">
                <div style="margin-bottom: 2px; margin-top: 2px;">
                    <img *ngIf="result.poster_path" src="{{getUrl(result.poster_path)}}" class="autocomplete">{{ result.title }}
                </div>
            </a>
            <a *ngIf="result.media_type === 'person' && result.profile_path" href="#/person/{{ result.id }}">
                <div style="margin-bottom: 2px; margin-top: 2px;">
                    <img src="{{getUrl(result.profile_path)}}" class="autocomplete"> {{ result.name }}
                </div>
            </a>
        </div>
    </div>
</div>