<md-input dividerColor="accent" (blur)="changeFocus(false)" (focus)="changeFocus(true)" placeholder="Search for an Actor, Actress, or Movie" value="" [(ngModel)]="search" (ngModelChange)="doSearch($event)">
</md-input>

<div (mouseleave)="changeState(false)" (mouseover)="changeState(true)">
    <div [hidden]="!(results.length> 0 && (active || focus))" class="pull-right" >
        <div *ngFor="let result of results; let i = index;">
            <a *ngIf="result.media_type === 'movie'" href="#/movie/{{ result.id }}" >
                <div class="results" [ngStyle]="{'background-color': colors[i]}" (mouseleave)="removeColor(i)" (mouseover)="putColor(i)">
                    <img *ngIf="result.poster_path" src="{{getUrl(result.poster_path)}}"  class="autocomplete">
                    <img *ngIf="!result.poster_path" src="assets/images/posternotavailable.jpg"  class="autocomplete">
                    {{ result.title }}
                </div>
            </a>
            <a *ngIf="result.media_type === 'person'" href="#/person/{{ result.id }}">
                <div class="results" [ngStyle]="{'background-color': colors[i]}" (mouseleave)="removeColor(i)" (mouseover)="putColor(i)">
                    <img *ngIf="result.profile_path" src="{{getUrl(result.profile_path)}}" class="autocomplete">
                    <img *ngIf="!result.profile_path" src="assets/images/photonotavailable.jpg"  class="autocomplete">
                    {{ result.name }}
                </div>
            </a>
        </div>
    </div>
</div>