.pull-right {
  float: right !important;
  width: 25%;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  border-radius: 3px;
	box-shadow: -5px 10px 26px 0px rgba(0,0,0,0.75);
}

.autocomplete{
    width: 10%;
    vertical-align:middle;
    background-color: lightblue;

}

.results{
  margin-bottom: 2px; margin-top: 2px;
  font-size: 13px;
  font-weight: bold;
}


a{
  color:#333;
  text-decoration:none
  
}