.pull-right {
  float: right !important;
  width: 25%;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
}

.autocomplete{
    width: 10%;
}



a{
  color:#333;
  text-decoration:none
  
}