<app-toolbar></app-toolbar>
<md-card>
    <md-card-content>
       <h1 id="subprincipal"> {{ details.title }} </h1> 
       <h3 *ngIf="details.tagline">{{details.tagline }}</h3>
    </md-card-content>
</md-card>



<div *ngIf="keyvideo != null" align="center">
    <md-card>
        <app-movietrailer [key]="details.videos.results[0].key"></app-movietrailer>
    </md-card>
</div>



<md-card>
    <md-card-title-group>
        
        <img *ngIf="details.poster_path" class="image" src="{{getUrl(details.poster_path)}}">
        <img *ngIf="!details.poster_path" class="image" src="assets/images/posternotavailable.jpg">

        <md-card-subtitle>
            <md-card>
                <span *ngIf="details.overview">
                    <div *ngIf="details.overview.length > 55">
                        {{ details.overview }}
                    </div>
                    <div *ngIf="details.overview.length <= 55">
                        {{ details.overview }} (For more information see {{ details.title }} in 
                    <a href="https://www.google.com.co//">https://www.google.com.co/</a>)
                    </div>
                </span>
                <span *ngIf="!details.overview">
                    Overview not available, for more information see {{ details.title }} in 
                    <a href="https://www.google.com.co//">https://www.google.com.co/</a>
                </span>
                
            </md-card>

            <md-card>
                <div *ngIf="details.release_date">
                    <md-icon class="icons">visibility</md-icon>
                    Release Date {{ details.release_date | date }}
                </div>
                <div *ngIf="!details.release_date" class="unavailable">
                    <md-icon class="icons">visibility</md-icon>
                    Release Date not available
                </div>
                
                <div *ngIf="details.runtime">
                    <md-icon class="icons">access_time</md-icon>
                    Running Time {{ details.runtime }} minutes
                </div>
                <div *ngIf="!details.runtime" class="unavailable">
                    <md-icon class="icons">access_time</md-icon>
                    Running Time not available
                </div>
                
                <div *ngIf="details.budget" >
                    <md-icon class="icons">attach_money</md-icon>
                    Budget ${{ details.budget | number }} USD
                </div>
                <div *ngIf="!details.budget" class="unavailable">
                    <md-icon class="icons">attach_money</md-icon>
                    Budget not available
                </div>
                
                <div *ngIf="details.revenue">
                    <md-icon class="icons">attach_money</md-icon>
                    Revenue ${{ details.revenue | number }} USD
                </div>
                <div *ngIf="!details.revenue" class="unavailable">
                    <md-icon class="icons">attach_money</md-icon>
                    Revenue not available
                </div>
                
            </md-card>
            
            <md-card *ngIf="details.genres">
                <h2>Genres</h2>
                <span *ngFor="let genre of details.genres ">
                    <button md-button id="buttongenre"> {{ genre.name }} </button>
                </span>
                <div *ngIf="details.genres.length == 0" class="unavailable">
                    Genres not available
                </div>
            </md-card>
            
            <div *ngIf="details.credits">
                <app-moviecast [credits]="details.credits.cast"></app-moviecast>
            </div>
            
            <div *ngIf="details.credits">
                <app-moviecrew [credits]="details.credits.crew"></app-moviecrew>
            </div>
           
      </md-card-subtitle>
   </md-card-title-group>
</md-card>