<app-toolbar></app-toolbar>
<md-card>
    <md-card-content>
       <h1 id="subprincipal"> {{ details.title }} </h1> 
       <h3 *ngIf="details.tagline">{{details.tagline }}</h3>
    </md-card-content>
</md-card>



<div *ngIf="details.videos" align="center">
    <md-card>
        <app-movietrailer [key]="details.videos.results[0].key"></app-movietrailer>
    </md-card>
</div>



<md-card>
    <md-card-title-group>
        
        <img class="image" src="{{getUrl(details.poster_path)}}">

        <md-card-subtitle>
            <md-card>
                <span ng-if="details.overview">
                    {{ details.overview }}
                </span>
            </md-card>

            <md-card>
                <div>
                    <md-icon class="icons">visibility</md-icon>
                    Release Date {{ details.release_date | date }}
                </div>
                <div>
                    <md-icon class="icons">access_time</md-icon>
                    Running Time {{ details.runtime }} minutes
                </div>
                <div class="detail">
                    <md-icon class="icons">attach_money</md-icon>
                    Budget ${{ details.budget | number }} USD
                </div>
                <div class="detail">
                    <md-icon class="icons">attach_money</md-icon>
                    Revenue ${{ details.revenue | number }} USD
                </div>
                
            </md-card>
            
            <md-card>
                <h2>Genres</h2>
                <span *ngFor="let genre of details.genres ">
                    <strong style="border: 1pcx solid #dddddd; margin: 5px; padding: 2px; background-color: #eeeeee;"> {{ genre.name }} </strong>
                </span>
            </md-card>
            
            <div *ngIf="details.credits">
                <app-moviecast [credits]="details.credits.cast"></app-moviecast>
            </div>
            
            <div *ngIf="details.credits">
                <app-moviecrew [credits]="details.credits.crew"></app-moviecrew>
            </div>
           
      </md-card-subtitle>
   </md-card-title-group>
</md-card>